/* body {
    height: 100%;
    background: #2A2E45;
    color: #FFF;
    font-family: "montserrat";
  }*/
  #cdr::before {
    content: "NE VENDEZ PLUS DES PRODUIT OU DES SERVICE VENDEZ DES EXPERIENCE";
   
    padding-top: 200px;
    padding-left: 50px;
    padding-right: 50px;
    z-index: -1px;
    font-size: 60px;
    font-weight: bold;
    color: #65065C;
    font-family: "montserrat";
    position: absolute;
  }
  .card-sliders {
    overflow: hidden;
   
  }*/
 

  .card-sliders .card-decks .card-deck.deck-active {
    display: flex;
  }
wh{
    display: flex;
}
  .card-sliders .card-deck .card {
    font-size: 0.8rem;
    border: 0;
    border-radius: 1.25rem;
    box-shadow: 0 10px 20px 2px rgb(255,204,255);
    
    color: #FFF;
    height: 300px;
    
    overflow: hidden;
  }
  .card:hover {
    transform: scale(1.1);

  }
  
  #bg1 {
    background-color: #CC1CBC !important;
  }
  #bg2 {
    background-color: black !important;
  }
  .card-sliders .card-decks .card-deck .card h1, .card-sliders .card-decks .card-deck .card h2, .card-sliders .card-decks .card-deck .card h3, .card-sliders .card-decks .card-deck .card h4, .card-sliders .card-decks .card-deck .card h5, .card-sliders .card-decks .card-deck .card h6 {
    font-weight: bold;
    margin-left: 15px;
    margin-top: 12px;
    display:flexbox;
  }

  .card-sliders .card-decks .card-deck .card a {
    color: #3BCEAC;
  }
  .card-sliders  .card-deck .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 
  .card-sliders .card-decks .card-deck .card .card-img-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  /* Custom animate.css delay */
  .animated.delay-02s {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .animated.delay-04s {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  } 
  #cardSlide{
    margin-top: -100px !important;
    
  }
  #partie2{
    box-shadow: 0 10px 20px 2px #CC1CBC ;
  }

  